<a href="https://colab.research.google.com/github/Aashrit77/Assignments/blob/main/Logistic_regression_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
data = pd.read_csv("/content/bank-full.csv")
data.head()

    y  age           job  marital  ... campaign pdays  previous poutcome
0  no   58    management  married  ...        1    -1         0  unknown
1  no   44    technician   single  ...        1    -1         0  unknown
2  no   33  entrepreneur  married  ...        1    -1         0  unknown
3  no   47   blue-collar  married  ...        1    -1         0  unknown
4  no   33       unknown   single  ...        1    -1         0  unknown

[5 rows x 17 columns]

In [23]:
data.dtypes

y            object
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
dtype: object

In [21]:
data.shape

(45211, 17)

# I will base the prediction on job,marital,default,loan,housing and marketing campeign:

In [33]:
data.drop(data.columns[[1,4,6,9,10,11,12,13,14,15]],inplace=True,axis=1)
#data.drop(data.columns[[0, 3, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19]], axis=1, inplace=True)

In [34]:
data.head()

    y           job  marital default housing loan poutcome
0  no    management  married      no     yes   no  unknown
1  no    technician   single      no     yes   no  unknown
2  no  entrepreneur  married      no     yes  yes  unknown
3  no   blue-collar  married      no     yes   no  unknown
4  no       unknown   single      no      no   no  unknown

In [54]:
data2 = pd.get_dummies(data, columns =['job', 'marital', 'default', 'housing', 'loan', 'poutcome'])

In [55]:
data2.head()

    y  job_admin.  ...  poutcome_success  poutcome_unknown
0  no           0  ...                 0                 1
1  no           0  ...                 0                 1
2  no           0  ...                 0                 1
3  no           0  ...                 0                 1
4  no           0  ...                 0                 1

[5 rows x 26 columns]

In [56]:
data2.drop(data2.columns[[12,25]], axis=1, inplace=True)
data2.head()

    y  job_admin.  ...  poutcome_other  poutcome_success
0  no           0  ...               0                 0
1  no           0  ...               0                 0
2  no           0  ...               0                 0
3  no           0  ...               0                 0
4  no           0  ...               0                 0

[5 rows x 24 columns]

In [57]:

# deviding data into input and output variables:
X = data2.iloc[:,1:]
Y = data2.iloc[:,0]

In [58]:
classifier = LogisticRegression()
classifier.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [59]:
y_pred = classifier.predict(X)

In [60]:
y_pred

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [61]:
y_pred_df

      Actual Predicted
0         no        no
1         no        no
2         no        no
3         no        no
4         no        no
...      ...       ...
45206    yes        no
45207    yes        no
45208    yes       yes
45209     no        no
45210     no        no

[45211 rows x 2 columns]

In [62]:
from sklearn.metrics import confusion_matrix
confusion =confusion_matrix(Y,y_pred)
print(confusion)

[[39488   434]
 [ 4404   885]]

In [63]:
((39488+885)/(39488+434+4404+885))*100

89.29906438698548

In [64]:
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

          no       0.90      0.99      0.94     39922
         yes       0.67      0.17      0.27      5289

    accuracy                           0.89     45211
   macro avg       0.79      0.58      0.61     45211
weighted avg       0.87      0.89      0.86     45211