<a href="https://colab.research.google.com/github/Aashrit77/Assignments/blob/main/Multilinear_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.regressionplots import influence_plot
import statsmodels.formula.api as smf
import numpy as np

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
staup = pd.read_csv("/content/50_Startups.csv")
staup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
staup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [4]:
staup.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [5]:
staup = staup.rename({"R&D Spend":"R&D"},axis=1)
staup.head()

         R&D  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
staup = staup.rename({"Marketing Spend":"MS"},axis=1)
staup.head()

         R&D  Administration         MS       State     Profit
0  165349.20       136897.80  471784.10    New York  192261.83
1  162597.70       151377.59  443898.53  California  191792.06
2  153441.51       101145.55  407934.54     Florida  191050.39
3  144372.41       118671.85  383199.62    New York  182901.99
4  142107.34        91391.77  366168.42     Florida  166187.94

In [7]:
staup1 = staup

In [8]:
staup1.head()

         R&D  Administration         MS       State     Profit
0  165349.20       136897.80  471784.10    New York  192261.83
1  162597.70       151377.59  443898.53  California  191792.06
2  153441.51       101145.55  407934.54     Florida  191050.39
3  144372.41       118671.85  383199.62    New York  182901.99
4  142107.34        91391.77  366168.42     Florida  166187.94

In [9]:
Staup2 = staup1.rename({"R&D":"Res"},axis=1)

In [10]:
model = smf.ols("Profit~Administration+Res+MS+State",data=Staup2).fit()

In [11]:
model.params

Intercept            50125.343832
State[T.Florida]       198.788793
State[T.New York]      -41.887019
Administration          -0.027004
Res                      0.806023
MS                       0.026980
dtype: float64

In [12]:
print(model.tvalues, '\n', model.pvalues)

Intercept             7.280560
State[T.Florida]      0.058970
State[T.New York]    -0.012864
Administration       -0.517012
Res                  17.368580
MS                    1.573889
dtype: float64
 Intercept            4.444178e-09
State[T.Florida]     9.532429e-01
State[T.New York]    9.897941e-01
Administration       6.077373e-01
Res                  2.578772e-21
MS                   1.226769e-01
dtype: float64

In [13]:
(model.rsquared,model.rsquared_adj)

(0.9507524843355148, 0.945156175737278)

In [14]:
rsq_Res = smf.ols("Res~Administration+MS+State",data=Staup2).fit().rsquared

In [15]:
rsq_Ad = smf.ols("Administration~Res+MS+State",data=Staup2).fit().rsquared

In [16]:
rsq_MS = smf.ols("MS~Administration+State+Res",data=Staup2).fit().rsquared

In [17]:
d1 = {"Variables":["Research","Administration","Marketing Spent"],"Rsquared":[rsq_Res,rsq_Ad,rsq_MS]}
frame = pd.DataFrame(d1)
frame

         Variables  Rsquared
0         Research  0.599280
1   Administration  0.150935
2  Marketing Spent  0.586229

#Predict

In [24]:
new_data = pd.DataFrame({"Res":10000,"Administration":20000,"MS":30000,"State":"New York"},index=[1])

In [25]:
model.predict(new_data)

1    58412.997389
dtype: float64